<!-- ================================================================================================================
// ESJ01_CRUD  /  dossier: C:\WORK\NODEJS\ESJ01_CRUD  /  fichier: views/resultat-recherche.ejs
// ============================================================================================================== -->
<!-- dans body: PAGE rendu par le routeur recetteRoutes, fonction rechercheRecette: resultat-recherche.ejs  === -->
<h1 class="pb-4">Resultats de la recherche</h1>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <!-- SI tabRecette Existe: BOUCLE forEach sur le tableau de recettes -->
  <% if(locals.tabRecettes && locals.tabRecettes.length) { %>
    <% tabRecettes.forEach(function(itemRecette, index){ %>
      <!-- lien vers une recette par son id -->
      <!-- a href="/api/recette/une-recette/<%= itemRecette._id %>" class="col text-center category__link"  -->
      <a href="<%= lienVersUneRecette + itemRecette._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <!-- image de la recette -->
          <!-- img src="/uploads/<%= itemRecette.image %>" alt="<%= itemRecette.nom %>" loading="lazy"  -->
          <img src="<%= lienVersImage + itemRecette.image %>" alt="<%= itemRecette.nom %>" loading="lazy">
        </div>
        <div class="pt-1"><%= itemRecette.nom %></div>
      </a>
    <% }) %>
  <% } else { %>
    <p>Aucun élément trouvé.</p>
  <% } %>
</div>
